body{
  background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,.05));
  background-image: url(photos/login.jpg);
  background-size: cover;
  background-position: center;
}
h1{
  color: white;
}
.register{
  margin-top: 100px;
}


input[type='email'],input[type='password']{
  color:white;
  background : transparent;
  border:0;
  outline:0;
  border-bottom: 1px solid white;
  margin-top: 10px;
  padding: 10px;
  transition:0.5s;
  letter-spacing: 1px
}
input[type="submit"]{
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 25px;
  transition: 0.5s;
}
input[type="submit"]:hover{
  background-color: #9370db;
  border: 1px solid white;
  color: black;
}
